* {
    margin: 0px;
    padding: 0px;
}

.txt h4 {
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.big-txt h1 {
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.full-page {
    background-color:bisque;
}